<launch>

    <arg name="robot_name" default="lolo"/>
    <arg name="xacro_file" default="$(find lolo_description)/urdf/lolo_auv.urdf.xacro"/>

    <!-- These are the arguments you need to care about -->
    <arg name="world_config" default="biograd_world.yaml"/>
    <arg name="world_config_file" default="$(find smarc_stonefish_worlds)/config/$(arg world_config)"/>
    <arg name="robot_config" default="lolo.yaml"/>
    <arg name="robot_config_file" default="$(find lolo_stonefish_sim)/config/$(arg robot_config)"/>
    <arg name="scenario_description" default="$(find smarc_stonefish_worlds)/data/scenarios/default.scn"/>

    <!-- These are more for fine-tuning -->
    <arg name="simulation_data" default="$(find smarc_stonefish_worlds)/data"/> <!-- path to the data directory -->
    <arg name="simulation_rate" default="300"/> <!-- number of simulation steps per second -->
    <arg name="graphics_resolution" default="1200 800"/> <!-- resolution of the simulation window -->
    <arg name="graphics_quality" default="low"/> <!-- low, medium or high -->


    <!-- These are more for fine-tuning -->
    <arg name="shader_path" default="$(find stonefish_ros)/external/stonefish/Library/shaders"/>

    <!-- Run Simulator -->
    <node name="stonefish_simulator" pkg="stonefish_ros" type="parsed_simulator" output="screen" args="$(arg simulation_data) $(arg scenario_description) $(arg simulation_rate) $(arg graphics_resolution) $(arg graphics_quality) $(arg shader_path)">
        <rosparam file="$(arg world_config_file)" subst_value="true"/>
        <rosparam file="$(arg robot_config_file)" subst_value="true"/>
    </node>


    <!-- include file="$(find lolo_stonefish_sim)/launch/robot_bridge.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="xacro_file" value="$(arg xacro_file)"/>
    </include -->

</launch>
